*{
    margin: 10px;
    padding: 10px;
}
:root{
    --box-shadow-color: #dbdbdb;
    --background: #fff;
    --tongle:#dbdbdb;


}
body{
    background: var(--background);
    box-shadow: var(--box-shadow-color);
}
body.dark{
    --box-shadow-color: #f1dbdb;
    --background: #242020;
    --tongle:#403d3d;


}
.newcls{
    position: relative;
}
#toggle_button {
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    border-radius: 3px;
    transition: 0.3s;
  }
  #toggle_button:hover {
    background: #dbdbdb;
  }
  #toggle_button img {
    width: 45px;
  }

}